#all-skills-tbody td {
    border: 1px black solid;
}

#all-skills {
    border-spacing: 0;    
}

body {
    padding: 2em;
}

#cy {
    width: 300px;
    height: 300px;
    display: block;
    background-color: blue;
  }

.selected-skill{
    font-weight: bold;
}

.skill-name{
    cursor: pointer;
}

.skill-name:hover{
    text-decoration: underline;
}

.skrollable-row{
    max-height: 40em;
}

.hidden{
    display: none;
}